.track-list{
    padding: 10px;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            background-color: #fffd84;
            
        }
        li:hover{
            background-color: #fffea7;
        }
    }
}

.trackListRow{
    overflow: hidden;
    width: 500px;
}

.playPauseBtn{
    display: inline-block;
}

.trackName {
    display: inline-block;
}
.trackDuration {
    display: inline-block;
    float: right;
}
.testClass{
    width: 200px;
    height: 50px;
    border: 1px solid black;
}
